.formContainer{
    background-color: white;
    height: 85%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center; 
    gap:1rem;
    padding: 10px;
}
.formInputs{
    width: 80%;
}
.formDesInputs{
    width: 80%;
    height: 40%;
}