.dashboardContainer {
  background-color: #e0c6a1;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2em;
}

.navBar {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashAvator {
  height: 50px;
  width: 50px;
}
.catButton {
  position: relative;
  right: 2rem;
}

.contentBox {
  /* border: 2px solid black; */
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}
.boxOne {
  /* border: 2px solid black; */
  width: 85%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.boxtwo {
  /* border: 2px solid white; */
  width: 15%;
  height: 98%;
  background-color: white;
}
