.blogCardContainer {
  /* border: 5px solid black; */
  background-color: transparent;
  height: 95%;
  width: 95%;
}
.imgContainer {
  /* border: 5px solid black; */
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  }
  
.categoryTag{
background-color: rgba(245, 222, 179, 0.796);
border-radius: 5px;

}
